.createbusinesspage-container{
    width: 100%;
    height: 100vh;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}
.create-business-form{
    display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    
	
    width: 75%;
    margin: 0 auto;
    text-align: center;

    
}
.create-business-form input{
    display: block;
    width: 400px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
   
}
.create-business-form textarea{
    display: block;
    width: 400px;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    margin-bottom: 10px;
    background-color: #f2f2f2;
}