.landing-page-container{
    height: 86vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    
}
.title{
    font-size: 3em;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin-bottom: 0.5em;
}
.title-sub{
    line-height: 20%;
    font-weight: 200;
    opacity: 0.7;
    font-size: 1.5em;
    margin-bottom: 2em;
    color: aliceblue;
}
.input-group{
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    margin: 0 auto;
    padding: 0em 1em;
    
    padding: 2em;
    border-radius: 40px;
}
.input-group .job-type{
    width: 50%;
    margin-right: 20px;
}
.input-group .place{
    width: 100%;
    margin-right: 20px;
}
.search{
    height: 3em;
    font-family: inherit;
    font-size: 1em;
    border-radius: 10px;
    background-color: aliceblue;
    border-color: 1px solid rgb(92, 43, 226)  !important        ;
    
}

.location-div{
    
}
.location-dropdown-list{
    max-height: 10em;
    overflow-y: scroll;
    background-color: aliceblue;
    padding: 1em;
    border-radius: 10px;
    border: 1px solid rgb(92, 43, 226);
    min-width: 90%;
    max-width: 90%;

}
.landing-page-search-button{
    height: fit-content;
    margin-top: 1em;

}

.dropdown-item{
    font-size: 1em;
    font-weight: 400;
    color: rgb(92, 43, 226);
    padding: 0.5em;
    cursor: pointer;
}
.dropdown-item:hover{
    background-color: rgb(92, 43, 226);
    color: aliceblue;
}
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  