.profile-container {
    background-color: #fff;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 10px;
    padding: 4em;
    font-family: 'Montserrat', sans-serif;
  }
  .icon-use{
    font-size: 30px;

  }
  .profile-tags{
    font-weight: 600 !important;
  }
  .profile-container h2 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  hr{
    margin-bottom: 3em;
  }
  .profile-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
  }
  
  .info-item {
    display: flex;
    flex-direction: column;
  }
  
  .info-item label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #666;
  }
  
  .info-item span {
    font-size: 16px;
    font-weight: 600;
    color: #333;
  }
  .edit-btn {
    background-color: #22ca52;
    float: right;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .edit-btn:hover {
    background-color: #34495e;
  }
  .edit-btn-save{
    background-color: #42c23e;
    float: right;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  