.user-dashboard-layout-wrapper{
 
  margin: 0 auto;
  margin-top: 2em;
  width: 60%;
}
.dashboard-top-row{
  display: flex;
  justify-content: space-be;
  align-items: center;
  margin-bottom: 2em;
}
.dash-header{
  font-size: 2em;
  font-weight: 600;
  color: #333;
  margin-bottom: 1em;
}
